body {
  font-family: "Montserrat", sans-serif !important;
  position: relative;
  min-height: 100vh !important;
  padding-bottom: 170px;
  background: linear-gradient(black, #472c4a 60%, #472c4a) !important
}



.pointer{
  cursor: pointer;
}
.titulo-portada {
  margin-top: 4px;
}
.linkeado {
  display: flex;
  width: 100%;
  color: white;
}
.linkeado:hover {
  color: #5e3465;
}
h2 {
  font-size: 32px !important;
}
.negrita{
  font-size: large;
  font-weight: bold;
}
.marginL {
  margin-left: 1rem;
}
.marginR {
  margin-right: 1rem;
}
.mg-t20{
  margin-top: 20px;
}
.bg-dark {
  background-color: #070808 !important ;
}
.disabled{
  opacity: 0.3;
}

/* ----- VISTA MOBILE ----- */
@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
  .contenedor-gesto{
    height: 4640px !important;
  }
}

/* ----- VISTA TABLET ----- */
@media (max-width: 1200px) {
  .card-detail {
    height: 575px;
    box-shadow: 0px 10px 10px black;
    width: 95%;
  }

  .letra-chica {
    font-size: 12px !important;
  }
  .botonSeleccionado {
    font-size: 12px !important;
  }
  .volver {
    font-size: 12px !important;
  }
  .dalePlay {
    font-size: 12px !important;
  }
}

/* -----------------------------------------------  */

/* ----- HEADER ----- */
.titulo-principal{
  margin: 2rem;
  color: white;
}

/* ----- PRODUCTOS ----- */
.contenedor-productos{
  margin-top: 30px;
  color: white;
  font-weight: 800;
}
.contenedor-gesto{
  height: 1320px;
  background-color: #352138;
  margin-top: 20px;
  border-radius: 6px;
}
.titulo-gesto{
  color: white;
  font-weight: 800;
  font-size: 18px !important;
  padding: 10px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  margin-bottom: 20px;
}

/* ----- CARD PRODUCTOS ----- */
.contenedor-cards{
  padding: 15px;
}
.card-producto {
  height: auto;
  box-shadow: 0px 10px 10px black;
  width: 95%;
  margin: auto;
  text-align: center;
  align-items: center;
}
.producto-titulo {
  height: 20px;
  color: #5e3465;
  font-weight: bold;
}
.listItem{
  font-size: 15px !important;
}
.addButton {
  margin: 2px !important;
  width: 98% !important;
}

/* ----- METODOS DE PAGOS ----- */
.contenedor-metodosPagos{
  margin-top: 30px;
  color: white;
  font-weight: 800;
  margin-bottom: 20px;
}

/* ----- TRANSFERENCIA BANCARIA -----  */
.contenedor-transferencia{
  margin-top: 30px;
  color: white;
  font-weight: 800;
  margin-bottom: 20px;
}

/* ----- PARALLAX ----- */
.parallax {
  background-image: url(/src/assets/carousel/fortnite3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 20em;
  margin-top: 30px; 
}

/* ----- COMO COMPRAR ----- */
.contenedor-comoComprar{
  margin-top: 30px;
  color: white;
  font-weight: 800;
}
.contenedor-importante{
  margin-top: 20px;
  color: white;
  border-radius: 6px;
  padding: 15px;
}
.contenedor-importante h2{
  margin-bottom: 10px;
  font-weight: 700;
}

/* ----- FOOTER ----- */
.footerGral{
  background-color:#352138;
  width: 100%;
  position: absolute;
  bottom: 0;
  padding-top: 15px;
  color: white;
}
.footer-logo{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}
.logo-titulo{
  margin-left: 10px;
  font-size: 18px;
}
.contenedor-redes{
  display: flex;
  justify-content: center;
}
.redes{
  margin-bottom: 8px;
}
.instagram a{
  text-decoration: none !important;
}
.instagram a:hover{
  color: #070808;
}
.instagram{
  display: flex;
  justify-content: center;
  margin-top: 2px;
}
.copyright{
  margin-top: 2px;
  margin-bottom: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.btn-primary{
  background-color: purple !important;
  border-color:rgb(255, 0, 255) !important;
  font-weight: bold;
}
.swal2-html-container {
  z-index: 1;
  justify-content: center;
  margin: 1em 1.6em 0.3em;
  padding: 0;
  overflow: auto;
  color: inherit;
  font-size: 1.125em;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  word-wrap: break-word;
  word-break: break-word;
}

/* carrito */

.contador-carrito{
  position: relative;
}

.contador{
  position: absolute;
  top: -10px;
  left: 20px;
  background-color: #fff;
  padding: 1px 4px;
  color: #805ad5;
  font-weight: 900;
  border-radius: 15px;
}

.carrito-icon{
  font-size: 25px;
}

.contenedor-comprar-carrito{
  flex-direction: column;
}